spring-bean/src/main/resources/META-INF/custom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--自定义标签XSD-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.shyfay.com/schema/custom"
        elementFormDefault="qualified">
    <xsd:element name="custom">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="value" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>